astropy
astroquery
dawgie
h5py
joblib
ldtk
lmfit
matplotlib
numexpr          # used to limit cores it uses preventing thrashing
numpy
photutils
pymc
pyvo
PyXB-CTC==1.3.3  # since code checks, just lock the version
service_identity # for twisted with TLS (optionally loaded so must do it here)
scipy
torch            # 6 GB monstrosity
ultranest
