astropy
astroquery
dawgie
h5py
joblib
ldtk
lmfit
matplotlib
numexpr          # used to limit cores it uses preventing thrashing
numpy
photutils
pymc
pyvo
PyXB-CTC==1.3.3  # since code checks, just lock the version
scipy
torch            # 6 GB monstrosity
ultranest
